.searchBar input{
    display: none;
}

.logout a{
    margin-left: 760px;
}

.logout h6{
    font-size: 17px;
}

.profilePic {
        margin-top: 120px;
}

.profilePic img{
    border-radius: 30px;
    border: 2px solid grey;
    padding: 2px;
}

.buyerInformation{
    margin-top: 140px;
    margin-left: 50px;
}

.buyerInformation input{
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    padding: 5px;
    margin: 10px;
}

.buyerInformation textarea{
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    padding: 5px;
    margin: 10px;
}

.buyerInformation button{
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

.buyerInformation label{
    margin-left: 10px;
}

#chooseBtnForPic{
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
}

.mobileView{
    display: none;
}


@media only screen and (max-width: 400px) {

   .leftside,.rightside{
        display: none;
   }
    .mobileView{
        display: block;
        overflow-x: hidden;
    }

   .header{
    display: none;
   }
   .footer{
    display: none;
   }


   /* start sa mobile css */

   .mobileView{
    overflow-x: hidden;
    
}



.menu label i{
    font-size: 50px;
    position: absolute;
    left: 2px;
    top: 4px;
    color: black;
}

.menu{
    background-color: white;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 1.1);
    height: 60px;
    position: fixed;
    width: 100vw;
}
.contentForSidebar{
    height: calc(100vh - 60px); /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrolling */

    width: 360px; /* Set the width of the sidebar */
    background-color: #1a4d2e;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed; /* Fix the position of the sidebar */
    top: 60px; /* Position it at the top of the viewport */
    left: -360px; /* Hide it off-screen initially */
    transition: left 0.3s ease; /* Smooth transition when sliding in/out */
    z-index: 20;
    
}


.mlogo img{
    width: 270px;
    height: 150px;
   border-radius: 20px;
    
}

.mlogo{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px; border-radius: 20px;
}

.forHome,.forStore,.forCart,.forProfile,.forLogout{
    color: white;
    border: 1px solid black;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 5px;
}

.forHome,.forStore,.forCart,.forProfile{
    background-color: black;
    border-radius: 20px;
    font-size: 25px;
}
.forHome{
    margin-top: 80px;
}
.forHome a,.forStore a,.forCart a,.forProfile a,.forLogout a{
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
}



.forHome a i{
    position: relative;
    left: -70px;
}
.forHome a i span{
    position: relative;
    left: 65px;
}


.forStore a i{
    position: relative;
    left: -75px;
}

.forStore a i span{
    position: relative;
    left: 70px;
}

.forCart a i{
    position: relative;
    left: -58px;
}

.forCart a i span{
    position: relative;
    left: 50px;
}

.forProfile a i{
    position: relative;
    left: -22px;
}

.forProfile a i span{
    position: relative;
    left: 20px;
}

.forLogout{
    margin-top:50px;
    background-color: rgb(189, 35, 35);
    border-radius: 20px;
    font-size: 25px;
}

.forLogout a i{
    position: relative;
    left: -55px;
}

.forLogout a i span{
    position: relative;
    left: 45px;
}
.mobileView {
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 100vh; /* Ensure the container takes up the full height of the viewport */
}


.menu a{
    text-decoration: none;
}

.container{
    display: none;
}
.main{
    display: none;
}
.functions{
    display: none;
}

.footer,.header{
    display: none;
}


}








